{%extends "layout.html"%}
{%block content%}
<link rel="stylesheet" href={{cdn_css | safe}} type="text/css" />
<script type="text/javascript" src={{cdn_js | safe}}></script>

<div class="plot">
    <h1>Bokeh CandleStick chart</h1>
    <p>Here is the financial report of GOOG stock</p>
    <p>The gliffs are in light blue color represent the increase in stock market </p>
    <p>The gliffs are in red color represent the decrease in stock market </p>
</div>
{{script1 | safe}}
{{div1 | safe}}
{%endblock%}
